<ul class="background">

 <h1 class="heading">Add a user in database</h1>
 <br/>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
 </ul>
 <div class="loginCard"> 
    <p-card class="card">
        <p class="m-0">

            <span class="p-float-label">
                <input pInputText id="email" [(ngModel)]="firstName" />
                <label for="username">firstName</label>
            </span>
            <br />
            <span class="p-float-label">
                <input pInputText id="email" [(ngModel)]="lastNmame" />
                <label for="username">lastNmame</label>
            </span>
            <br />

            <span class="p-float-label">

                <input pInputText id="password" [(ngModel)]="region" />
                <label for="username">region</label>

            </span>
            <br />
            <span class="p-float-label">

                <input pInputText id="password" [(ngModel)]="state" />
                <label for="username">state</label>

            </span>
            <br />
            <span class="p-float-label">

                <input pInputText id="password" [(ngModel)]="state" />
                <label for="username">state</label>

            </span>


        </p>
        <p-button label="Submit"  (onClick)="addUser()"></p-button>
    </p-card>



</div>
